body {
  font-family: 'Poppins', sans-serif;
}

.jumbotron {
  background-color: #e2edff;
}

.display-4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

#project {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.table {
  display: flex;
  justify-content: center;
}
